<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>se.en3.myClimate.MyClimate MyClimateService</servlet-name>
        <servlet-class>we.are.en3.server.MyClimateServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>se.en3.myClimate.MyClimate MyClimateService</servlet-name>
        <url-pattern>/MyClimate/MyClimateService</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>we.are.en3.server.ApplicationStartup</listener-class>
    </listener>

</web-app>